/*div central*/
#centerDiv{
    width: 784px;
    margin: auto;
    margin-top: 48px;
}

/*div contenant infos et boutons*/
#containerInfo{position: relative;
    height: 200px;
    margin-top: 52px;

    background-color: var(--clear_background_container);

    border-radius: 4px;

    padding: 16px;
}

/*titre du qcm*/
#titleQcm{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--dark_text);

    float: left;
}
/*nombre de question(s) du qcm*/
#nbQuestion{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--medium1_text);

    float: right;
}
/*description du qcm*/
#descriptionQcm{
    margin-top: 16px;

    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--medium1_text);
}

/*div contenant les 2 boutons*/
#divButtons{position:absolute;
    bottom: 16px;
    width: calc(100% - 32px);
}
/*div pour bouton "Commencer"*/
#divStart{
    width:147px;
    
    float: left;
}
/*div pour bouton "Modifier le QCM"*/
#divEdit{
    width:174px;

    float: right;
}
.visible{visibility: visible;}
.invisible{visibility: hidden;}



/*gère si la préférence du système ou du navigateur est réglé sur thème sombre*/
@media (prefers-color-scheme: dark) {
    #containerInfo{background-color: var(--dark_background_container);}
    #titleQcm{color: #fff;}
    #nbQuestion{color: #fff;}
    #descriptionQcm{color: #fff;}
}