@import url("../../../assets/css/fonts.css");
@import url("../../../assets/css/color.css");

.default,
.label-input-file::after {
  background-color: var(--button);

  font-family: "inter";
  color: #fff;

  border: 0px;
  border-radius: 3px;

  width: 100%;
  cursor: pointer;
}

.outline {
  background: transparent;

  font-family: "inter";
  color: #3182ce;

  border: 2px solid #3182ce;
  border-radius: 3px;

  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

[type="reset"].xs,
[type="submit"].xs,
[type="button"].xs,
.label-input-file::after {
  height: 24px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

[type="reset"].s,
[type="submit"].s,
[type="button"].s {
  height: 32px;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

[type="reset"].m,
[type="submit"].m,
[type="button"].m {
  height: 48px;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

[type="reset"].l,
[type="submit"].l,
[type="button"].l {
  height: 56px;

  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

[type="file"] {
  display: none;
}

.label-input-file {
  height: 24px;
}

.label-input-file::after {
  content: "Choisir un fichier";
  padding: 4px 6px;
  margin-left: 10px;
}

.btn1 {
  border: 2px solid #3182ce;
  border-radius: 3px;
  background-color: transparent;
  color: var(--button);
  cursor: pointer;
}

.btn2 {
  border-radius: 3px;
  color: #ffff;
  background-color: var(--button);
  border-style: none;
  cursor: pointer;
}

/*animation boutons*/
.default:hover {
  background-color: var(--button_hover);
}
.outline:hover {
  color: var(--button_hover);
  border: 2px solid var(--button_hover);
}
