.qcmCreation-page-form {
  display: flex;
  column-gap: 32px;
  row-gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: auto;
}

.qcmCreation-page-form label {
  font-weight: 600;
  font-size: 18px;
  color: var(--medium1_text);
}

.form-container-input input,
.form-container-input textarea {
  margin-top: 6px;
}
.form-container-input {
  padding-bottom: 16px;
}

/* CONTAINER DE GAUCHE */

.qcm-container {
  display: flex;
}

.qcm-container-structure {
  width: 456px;
  background-color: var(--clear_background_container);
  padding: 0px 32px 32px 32px;
  margin-top: 48px;
  margin-bottom: 173px;
  border-radius: 4px;
}

/* TITRE */
.qcm-container-titre {
  color: var(--dark_text);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 29px;
}

/* DESCRIPTION */
.qcm-container-description-container textarea {
  width: 392px;
  height: 80px;
  border: 2px solid #cbd5e0;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding: 8px 16px;
}

/* CATEGORIE */
.qcm-container-categorie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FICHIER */
.qcm-container-fichier-container {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}

hr {
  border: 1px solid #cbd5e0;
  margin: 24px 0px;
}

/* DELETE CONTAINER */
.delete-qcm-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#btn-delete {
  width: 110px;
}

/* CONTAINER DE DROITE */

.cours-recommande-container-titre {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #ffff;
  padding-bottom: 32px;
}

.cours-recommande-container-structure {
  width: 456px;
  background-color: var(--clear_background_container);
  margin-top: 48px;
  border-radius: 4px;
  padding: 32px 32px 0px 32px;
  min-height: 577px;

}

.cours-recomande-list-item {
  display: flex;
  align-items: center;
  background-color: var(--medium1_text);
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
  justify-content: space-around;
}

/* INPUT */
.input-moyenne {
  width: 40px !important;
  padding: 0px 0px 0px 4px !important;
}

.input-id {
  width: 176px !important;
  padding: 0px 0px 0px 4px !important;
}

/* BOUTON D'AJOUT */
#submit-btn-recommandation {
  width: 216px;
}

@media (prefers-color-scheme: dark) {
  .qcm-container-structure,
  .cours-recommande-container-structure {
    background-color: var(--dark_background_container);
  }

  .qcm-container-titre {
    color: #ffff;
  }

  .qcmCreation-page-form label {
    color: var(--clear2_text);
  }
}

@media screen and (max-width: 960px) {
  .qcm-container-structure {
    margin-bottom: 0px;
  }
}
