/* MAIN */
.coursCreation-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  column-gap: 32px;
  row-gap: 32px;
  flex-wrap: wrap;
}

/* LABEL */
.creation-container-form label {
  font-weight: 600;
  font-size: 18px;
  color: var(--medium1_text);
}

.creation-container-format-container .labelCustomRadio {
  font-weight: 400;
  font-size: 16px;
}

/* CONTAINER */
.creation-container-form,
.lien-container-form {
  width: 456px;
  height: 803px;
  margin-top: 48px;
  margin-bottom: 173px;
  background-color: var(--clear_background_container);
}

.lien-container{
  display:none;
}


.lien-container-form {
  display: flex;
  flex-direction: column;
}

/* FORMAT */
.creation-container-format-container {
  display: flex;
  column-gap: 16px;
  padding-bottom: 16px;
}

/* PDF */
.creation-container-pdf-container {
  display: flex;
  padding-bottom: 16px;
  column-gap: 48px;
}

@media (prefers-color-scheme: dark) {
  .creation-container-form label {
    color: var(--clear2_text);
  }

  .creation-container-form,
  .lien-container-form {
    background-color: var(--dark_background_container);
  }
}

@media screen and (max-width: 960px) {
  .creation-container-form {
    margin-bottom: 0px;
  }
}
