:root {
  /*background*/
  --first_clear_background: #edf2f7;
  --second_clear_background: #ffffff;

  --first_dark_background: #1a202c;
  --second_dark_background: #171923;

  --background_color_profil_container: #2D3748;

  --clear_background_container: #E2E8F0;
  --dark_background_container: #2D3748;

  /*error div*/
  --customize_red: #e53e3e;
  --customize_green: #38A169;

  /*text*/
  --dark_text: #2d3748;
  --medium1_text: #4a5568;
  --medium2_text: #718096;
  --clear1_text: #cbd5e0;
  --clear2_text: #e2e8f0;

  --dark_disabled_text: #A0AEC0;

  --link: #3182ce;

  --placeholder: rgba(0, 0, 0, 0.36);
  --placeholder_error: #2d3748;

  /*button*/
  --button: #3182ce;

  /*input*/
  --input: #ffffff;

  --input_border_default: #cbd5e0;
  --input_border_hover: #a0aec0;
  --input_border_error: #e53e3e;

  /*checkbox and radio button*/
  --checkboxRadio: #ffffff;
  --checkbox_selected: #3182ce;
  --checkbox_selectedHover: #2b6cb0;
  --checkbox_disabled: #cbd5e0;
  --radio_disabled: #718096;

  --checkboxRadio_border_default: #cbd5e0;
  --checkboxRadio_border_hover: #a0aec0;
  --checkboxRadio_border_selected: #3182ce;
  --checkboxRadio_border_selectedHover: #2b6cb0;
  --checkboxRadio_border_disabled: #cbd5e0;
  --checkboxRadio_border_error: #e53e3e;

  /*table*/
  --clear_secondColor_table: #CBD5E0;
  --dark_secondColor_table: #1A202C;
}

