@import url('./color.css');
@import url('./fonts.css');
@import url('../../views/components/button/button.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Inter';
  }

body{
  height: 100vh;
  display:flex;
  flex-direction: column;
}