/*div contenant la checkbox et son label*/
.divCustomRadio{
    position: relative;
}
/*checkbox rendu invisible pour créer la checkbox personnalisé*/
.customRadio{
    position: absolute;
    opacity: 0;
}
/*label de la checkbox*/
.labelCustomRadio{
    font-size: 16px;
    color: var(--dark_text);

    display: grid;
    grid-template-areas: "radio label";
    gap: 8px;
}

/*checkbox personnalisé*/
.labelCustomRadio::before{
    width: 100%;
   
    background-color: var(--checkboxRadio);    
    border-radius: 2px;
    border: 5px solid var(--checkboxRadio_border_default);
    box-sizing: border-box;
    
    content:'';
    grid-area: radio;
    display: block;
}


/*modification de la taille de la checkbox en fonction de la taille choisi*/
.divCustomRadio.m > .labelCustomRadio::before { height:16px; border-radius:8px;margin-top: 2px;}
.divCustomRadio.m > .labelCustomRadio {grid-template-columns: 16px 1fr;}

.divCustomRadio.l > .labelCustomRadio::before{ height:20px; border-radius:10px;margin-top: 0px;}
.divCustomRadio.l > .labelCustomRadio {grid-template-columns: 20px 1fr;}


/*modification de la checkbox personnalisé quand survolé par la souris*/
.divCustomRadio .customRadio:hover + .labelCustomRadio::before{
    background-color: var(--checkboxRadio);
    border: 5px solid var(--checkboxRadio_border_hover);
} 

/*modification de la checkbox personnalisé quand sélectionné*/
.divCustomRadio .customRadio:checked + .labelCustomRadio::before{
    border: 5px solid var(--checkboxRadio_border_selected);
} 

/*modification de la checkbox personnalisé quand survolé par la souris et sélectionné*/
.divCustomRadio .customRadio:checked:hover + .labelCustomRadio::before{
    border: 5px solid var(--checkboxRadio_border_selectedHover);
} 

/*modification de la checkbox personnalisé quand désactivé*/
.divCustomRadio .customRadio:disabled + .labelCustomRadio::before{
    background-color: var(--radio_disabled);
    border: 5px solid var(--checkboxRadio_border_disabled);
} 
/*modification du label quand désactivé*/
.divCustomRadio .customRadio:disabled + .labelCustomRadio{
    color: var(--medium2_text);
} 




/*gère si la préférence du système ou du navigateur est réglé sur thème sombre*/
@media (prefers-color-scheme: dark) {
    /*change la couleur du label*/
    .labelCustomRadio{
       color: var(--clear2_text);
    }
    /*modification du label quand désactivé*/
    .divCustomRadio .customRadio:disabled + .labelCustomRadio{
        color: var(--dark_disabled_text);
    } 
}