#leftDiv{
    width:25%;
    height:100%;
    
    float: left;  
}

#rightDiv{
    width: 944px;
    height:100%;

    

    
    padding-left: 48px;
}

/*div du bouton "créer" vu uniquement par un admin*/
#divCreate{
    width: 232px;
    margin-left: calc(100% - 264px);
    margin-top: 48px;
}
#divCreate .invisible{visibility: hidden;}
#divCreate .visible{visibility: visible;}

/*div du formulaire de gauche*/
#divForm{
    width: 264px;
    height: 312px;
    margin-top: 32px;  
    margin-left: calc(100% - 264px);

    background-color: var(--clear_background_container);

    border-radius: 4px;
    
    padding:16px;
}

/*titres du formulaires de gauche*/
.titlesForm{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: var(--dark_text);
}
/*second titre du formulaire de gauche*/
#titleFormCat{
    margin-top: 24px;
}


/*divs pour placer les boutons radio et leur label*/
.divRadios{
    margin-top: 8px;
}
/*selectBox*/
select{
    margin-top: 6px;
}

/*div pour placer les boutons*/
#gridButton{
    display: grid;
    grid-template-areas: "reset" "sub";
}
/*boutons*/
#reset{
    grid-area: reset;
    
    margin-top: 18px;
}
#sub{
    grid-area: sub;
    
    margin-top: 14px;
}

/*titre de droite*/
#labelSearchDiv{
    margin-top: 48px;
    
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--dark_text);
}
/*barre de recherche*/
#site-search{
    margin-top: 32px;
    margin-bottom: 48px;
}


/*div où sont affichés les cours*/
#divGrid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

/*div où est affiché 1 cours*/
.containerCours{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 24px;
    
    background-color: var(--clear_background_container);
    
    border-radius: 4px;   
}


/*contenu présentation de chaque cours*/
.imgCours{
    width: 64px;
    height: 64px;
    margin-top: 16px;
    margin-left: calc(50% - 32px);
    
    border-radius: 32px;
}
.titleCours{
    margin-top: 3px;
    padding: 0 8px;

    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color:var(--dark_text);
    text-align: center;

    text-overflow: ellipsis;
    white-space: nowrap;
}
.descriptionCours{
    margin-top: 3px;
    padding: 0 10px;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color:var(--medium2_text);
    text-align: center;

    /* Couper la description si elle dépasse 2 lignes. */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*gère le rétrécissement horizontal de la page*/
@media screen and (max-width: 1260px){
    #rightDiv{width: 784px;}
    #divGrid{grid-template-columns: repeat(4,1fr);}
}
@media screen and (max-width: 1045px){
    #rightDiv{width: 624px;}
    #divGrid{grid-template-columns: repeat(3,1fr);}
}
@media screen and (max-width: 850px){
    #rightDiv{width: 464px;}
    #divGrid{grid-template-columns: repeat(2,1fr);}
}
@media screen and (max-width: 650px){
    #rightDiv{width: 75%; }
    #divGrid{grid-template-columns: repeat(1,1fr);}
}



/*gère si la préférence du système ou du navigateur est réglé sur thème sombre*/
@media (prefers-color-scheme: dark) {
    #divForm{background-color: var(--dark_background_container);}
    .titlesForm{color:#fff;}
    #labelSearchDiv{color: #fff;}
    .containerCours{background-color: var(--dark_background_container);}
    .titleCours{color: #fff;}
    .descriptionCours{color: var(--clear1_text);}
}