.default{
    background-color: var(--button);

    font-family: "inter";
    color: #FFF;
    
    border:0px;
    border-radius: 3px;

    width: 100%;
}

.outline{
    background: transparent;

    font-family: "inter";
    color: #3182CE;

    border: 2px solid #3182CE;
    border-radius: 3px;

    box-sizing: border-box;
    width: 100%;
}

.s{
    padding: 4px auto;
    height: 32px;

    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.m{
    padding: 8px auto;
    height: 48px;

    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}

.l{
    padding: 12px auto;
    height: 56px;
    
    font-weight: 600; 
    font-size: 20px;
    line-height: 32px;
}