/*div central*/
#centerDiv{ 
    background-color: var(--clear_background_container);

    width: 784px;
    height: 700px;

    margin: 0 auto;
    margin-top: 48px;margin-bottom: 15px;

    padding-left: 16px;
    padding-right: 16px;
    padding-top:14px;
    padding-bottom:14px;

    border-radius: 4px;
}

/*label barre de recherche*/
#labelSearch{
    width: 100%;

    color: var(--dark_text);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

/*barre de recherche*/
.input{
    margin-top: 22px;
}

/*boutton submit*/
#invisibleButton{display: none;}/*je ne sais pas si il est indispensable, je l'ai mis temporairement en invisible*/


/*tableau*/
table{
    margin-top: 24px;
    width:100%;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
   
    border-collapse: collapse;
}

/*colonnes "Identifiant" et "Pseudo"*/
.smallColumn{
    width: 130px;
}

/*lignes impairs du tableau*/
table tr:nth-child(odd){
    background-color:var(--clear_secondColor_table);
}

/*toutes les cases du tableau*/
th,td{
    height: 52px;

    padding-left: 24px;
    
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

/*cases titres du tableau*/
th{    
    color: var(--medium1_text);
    background-color: var(--clear_background_container);
}

/*autres cases du tableau*/
td{
    color: var(--dark_text);
}

/*divs présentent dans la ligne du tableau (3ème colonne permettent d'alligner le mail et les bouttons)*/
.divRow{
    height:100%;

    display: inline-block;
}

/*mail des utilisateurs (pas le titre "Email")*/
.mail{
    padding-top: 18px;    
}

/*bouttons "paramètres" ajoutés dynamiquement*/
.settingButtons{
    width: 100px;
    
    float: right;

    padding-top: 14px;
    padding-right: 24px;
}

/*bouttons "profil" ajoutés dynamiquement*/
.profilButtons{
    width: 65px; 
    
    float: right;
    
    padding-top: 14px;
    padding-right: 16px;
}



/*gère si la préférence du système ou du navigateur est réglé sur thème sombre*/
@media (prefers-color-scheme: dark) {
    #centerDiv{background-color: var(--dark_background_container);}
    #labelSearch{color: #fff;}
    th{background-color: var(--dark_background_container);color: var(--clear2_text);}
    td{color:#fff;}
    table tr:nth-child(odd){background-color: var(--dark_secondColor_table);}
}

 