@import url('../../../assets/css/init.css');

.navbar{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 24px 10.416%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 112px; */
    flex-wrap: wrap;
}

.navbar-logo{
    width: 64px;
    height: 64px;
}


.navbar-titre{
    color: var(--dark_text);
    font-size: 36px;
    line-height: 150%;
    font-weight: 700;
    display: flex;
    align-items: center;
}

 .navbar-logo-container{
     display: flex;
     column-gap: 16px; 
}

.navbar-logo-container{
    display: flex;
}

.navbar-links-container{
    display: flex;
    column-gap: 44px;
    flex-wrap: wrap;
}

.links-container-onglets{
    display: flex;
}

.links-container-onglets-list{
    display: flex;
    align-items: center;
    column-gap: 23px;
}

.container-onglets-links{
    color: var(--dark_text);
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

.links-container-button{
    display: flex;
    column-gap: 32px;
}

#btn-connexion{
    padding: 8px 48px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
}

#btn-inscription{ 
    padding: 8px 48px;     
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;   
}

.logo{
    background-image: url(../../../assets/img/logo/Logo_dark.svg);
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    background-size: 100%;
}

a{
    text-decoration: none;
}

.img-profil{
    width: 48px;
    height: 48px;
}


/*gère si la préférence du système ou du navigateur est réglé sur thème sombre*/
@media (prefers-color-scheme: dark) {
    .navbar{
        background-color: var(--second_dark_background);
    }
    .navbar-titre{
        color: #ffff;
    }

    .container-onglets-links{
        color: var(--clear1_text);
    }

    .logo{
        background-image: url(../../../assets/img/logo/logo.svg);
    }
    
}

/* Navbar mobile */
@media screen and (max-width: 768px) {

}

