Options +FollowSymlinks
RewriteEngine on

RewriteRule ^accueil$             /controllers/pages/accueil/accueil.php [L]

RewriteRule ^connexion$           /controllers/pages/connexion/connexion.php [L]
RewriteRule ^deconnexion$         /controllers/pages/connexion/deconnexion.php [L]
RewriteRule ^inscription$         /controllers/pages/inscription/inscription.php [L]

RewriteRule ^profil$              /controllers/pages/profil/profil.php [L]
RewriteRule ^profil/supprimer$    /controllers/pages/profil/supprimer.php [L]
RewriteRule ^profil/modifier$     /controllers/pages/profil/modifier.php [L]

RewriteRule ^utilisateurs$        /controllers/pages/utilisateurs/rechercher.php [L]

RewriteRule ^cours$               /controllers/pages/cours/cours.php [L]
RewriteRule ^rechercher-cours$    /controllers/pages/cours/rechercher.php [L]
RewriteRule ^cours/supprimer$     /controllers/pages/cours/supprimer.php [L]
RewriteRule ^cours/marquer$       /controllers/pages/cours/marquer.php [L]
RewriteRule ^cours/affichage$       /controllers/pages/cours/affichage.php [L]
